name: Build Image for GCP

env:
  CONTAINER: "gcs-web-server"

on:
  push:
    branches:
      - 'feature/**'
      - "feat/**"
    paths:
      - container/**
      - .github/workflows/docker-build-dev.yml

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
          registry: 'ghcr.io'
          username: '${{github.actor}}'
          password: '${{secrets.GITHUB_TOKEN}}'

      - name: Generate Shortened SHA Hash for docker container
        id: sha
        run: echo "sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Generate Branch Normalized
        id: bnml
        run: echo ref=$(echo ${GITHUB_REF_NAME} | cut -f2 -d'/') >> $GITHUB_OUTPUT

      - name: Build and Push image
        uses: docker/build-push-action@v5
        with:
          push: true
          context: container
          file: container/Dockerfile
          tags: |
            ghcr.io/userbradley/${{ env.CONTAINER}}:${{steps.sha.outputs.sha}}
            ghcr.io/userbradley/${{ env.CONTAINER}}:${{steps.bnml.outputs.ref}}
            ghcr.io/userbradley/${{ env.CONTAINER}}:${{steps.bnml.outputs.ref}}-${{steps.sha.outputs.sha}}
